In [1]:
import numpy as np

In [2]:
stocks = [100,200,300,400]
SV = np.array(stocks)

In [3]:
stocks

[100, 200, 300, 400]

In [4]:
type(stocks)

list

In [5]:
type(SV)

numpy.ndarray

In [6]:
SV

array([100, 200, 300, 400])

In [7]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
a = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

In [9]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [10]:
a.shape

(3, 3)

In [11]:
a[0][1]

2

In [12]:
SV[2:4]

array([300, 400])

In [13]:
type(SV[2:4])

numpy.ndarray

In [14]:
import pandas as pd

In [15]:
new_series = pd.Series([10,20,30])
type(new_series)

pandas.core.series.Series

In [16]:
Stocks1 = ["Goog", "IBM", "Tesla"]
Stocks2 = ["APPL", "Facebook", "IBM"]

S1 = pd.Series([100, 200, 300], index = Stocks1)
S2 = pd.Series([300, 400, 500], index = Stocks2)

In [17]:
S1

Goog     100
IBM      200
Tesla    300
dtype: int64

In [18]:
S2

APPL        300
Facebook    400
IBM         500
dtype: int64

In [19]:
S1+S2

APPL          NaN
Facebook      NaN
Goog          NaN
IBM         700.0
Tesla         NaN
dtype: float64

In [20]:
(S1+S2).isnull()

APPL         True
Facebook     True
Goog         True
IBM         False
Tesla        True
dtype: bool

In [21]:
(S1+S2).dropna()

IBM    700.0
dtype: float64

In [23]:
(S1+S2).fillna(200)

APPL        200.0
Facebook    200.0
Goog        200.0
IBM         700.0
Tesla       200.0
dtype: float64

In [27]:
from iexfinance import get_historical_data
from datetime import datetime